{% extends "base.twig.html" %}
{% block title %} Home{% endblock %}

{% block content %}

<p> <center><h1>Home</h1></center>

Welcome!

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit vestibulum neque ut aliquam. Etiam dapibus, ante ac luctus ullamcorper, sapien est rhoncus elit, ac dignissim ipsum tellus vel mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Maecenas rutrum dictum tortor vel suscipit. Phasellus imperdiet quam venenatis, auctor libero vitae, cursus eros. Morbi tortor ante, lacinia sit amet ipsum consectetur, eleifend mollis est. Donec vitae interdum tortor. Donec erat quam, molestie et cursus porta, egestas ut elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam in ex ut ante commodo rutrum. Cras non eros iaculis, condimentum diam ultricies, ullamcorper arcu. Sed cursus eleifend purus, ac rutrum nunc porttitor ut. Pellentesque consectetur sed mi non tincidunt. Etiam a accumsan mauris.
</p>

{% endblock %}